.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.innerContainer {
  display: flex;
  justify-content: center;
  background-color: #222;
  border: 2px solid chartreuse;
  border-radius: 10px;
  width: 500px;
  min-height: 200px;
}

.input {
  background-color: #444;
  color: white;
  height: 40px;
  display: flex;
  flex: 2;
  outline: none;
  border: none;
  border-radius: 4px;
  margin: 20px;
}

.btnAdd {
  margin: 20px 20px 0 0;
}
